@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Nunito', sans-serif;
  --color-primary: var(--color-pink-400);    /* violet */
  --color-secondary: var(--color-blue-400);
}